.dane{
				text-align: center;
}
bame{
				text-align: right;
}
center{
				text-align: center;
}
.heading{
				font-size: 30px;
}
.red{
				color: #fff;
				}
h2{
				color: #26ff00;
}
input{
				text-align: center;
}
